body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  border-radius: 20rem;
}

.player-img,
.matchup-img {
  height: 3rem;
}

.matchup-img-div {
  text-align: left;
  display: none;
}

.player-container,
.cpu-player-container {
  display: flex;
  flex-flow: column wrap;
  height: 85vh;
  text-align: center;
}

.player-section {
  border: 1px black dotted;
  height: 13vh;
  border-radius: 20px;
}

.name {
  font-size: .75rem;
}

.player-stats {
  font-size: 12px;
}

.winorloss {
  display: block;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: -2rem;
  margin: 0 auto;
  color: rgb(159, 0, 0);
  font-size: 3rem;
}

.winorloss p {
  color: white;
}

.remove-btn,
.confirm-remove-btn {
  display: none;
}

.remove,
.draft-div,
.remove-div {
  text-align: center;
}

.btn-container {
  display: block;
}

.user-score,
.cpu-score {
  font-weight: bold;
  color: rgb(0, 75, 0)
}

.cpu-player-container {
  display: none;
}