body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EFC88B;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Press Start 2P";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  border-radius: 20rem;
}

.player-img,
.matchup-img {
  height: 7rem;
  position: absolute;
  left: 0
}

.swap-img {
  height: 7rem;
}

.cpu-player-img {
  height: 7rem;
  position: absolute;
  right: 0;
}

.matchup-img-div {
text-align: center;
}

.player-container,
.cpu-player-container {
  display: flex;
  flex-flow: column wrap;
  height: 85vh;
  text-align: center;
}

.player-section,
.player-swap {
  border: 1px black dotted;
  height: 13vh;
  border-radius: 20px;
  margin: 0 7rem;
  background-color: #EEE5E9;
}

.name {
  font-size: .75rem;
}

.player-stats {
  font-size: 12px;
}



.winorloss p {
  color: #EFC88B;
}

.winorloss h2 {
  font-weight: bold;
  font-size: 5rem;
}

.remove-btn,
.confirm-remove-btn {
  display: none;
}

.remove,
.draft-div,
.remove-div,
.confirm-div {
  text-align: center;
}

.draft-div button,
.remove-div button {
  font-size: .6rem;
  font-weight: bold;
}

.btn-container {
  display: block;
}

.user-score,
.cpu-score {
  font-weight: bold;
  color: rgb(0, 75, 0);
  font-size: 2rem;
}

.cpu-player-container,
.continue-btn-container {
  display: none;
}

.continue-btn-container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 38rem;
  margin: 0 auto;
  font-size: 3rem;
}

.winorloss {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 3rem;
  margin: 0 auto;
  color: black;
  font-size: 10rem;
}
h2 {
  font-weight: bold;
}
.btn,
.btn-primary {
  background-color: #CF5C36;
  border: #CF5C36 solid;
  font-weight: bold;
}

.btn:hover,
.btn-primary:hover {
  background-color: #8b3e25;
  border: #8b3e25 solid;
}

.remove-btn {
  background-color: red;
  border: red solid;
}

.remove-btn:hover {
  background-color: rgb(154, 0, 0);
  border: rgb(154, 0, 0) solid;
}

.userStats,
.cpuStats {
  margin-bottom: 1.5rem;
}

.register {
  margin-top: 1rem;
}

.swap-div {
  position: absolute;
  right: 15rem;
}

.login-img {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.player-pick-img {
  position: absolute;
}

.name {
  font-size: 1.25rem;
}

.points {
  font-size: 1.25rem;
}

.date {
  font-size: .75rem;
}

.result-img {
  height: 10rem;
  width: auto;
  margin: 0 auto;
}

.confirm-div {
  position: relative;
  margin: 1.5rem auto;
  left: 0;
}

.draft-btn,
.remove-btn {
  width: 25rem;
}

.draft-btn {
  background-color: rgb(2, 94, 22);
  border: rgb(2, 94, 22) solid;
}

.draft-btn:hover {
  background-color: rgb(4, 140, 34);
  border:rgb(3, 107, 25) solid;
}

.form-control {
  width: 30rem;
  text-align: center;
  border-radius: 1rem;
  border: 2px black solid;
  position: block;
  margin: 0 auto;
  margin-bottom: 2rem;
}


.navbar__logout {
  display: block;
  margin: 0 auto;
}

.matchup-container {
  margin-top: 5rem;
}

.placeholder {
  margin-top: 2.5rem;
}

.continue-btn {
  margin-top: 1.5rem;
}

.swap-container {
  margin-top: 3rem;
}

.the-score {
  font-size: 2rem;
  background-color: #8b3e25;
  border-radius: 2rem;
  position: absolute;
  top: -2rem;
  left: 36rem;
  width: 18rem;
}

.restart-btn {
  margin-top: 3rem;
}

.random-phrase {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 5rem;
}

h4{
  margin-top: 1rem;
}