body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  border-radius: 20rem;
}

.player-img,
.matchup-img {
  height: 3rem;
}

.matchup-img-div {
  text-align: left;
}

.player-container {
  display: flex;
  flex-flow: column wrap;
  height: 85vh;
  text-align: center;
}

.player-section {
  border: 1px black dotted;
  height: 11vh;
}

.name {
  font-size: .75rem;
}

.player-stats {
  font-size: 12px;
}
