
*{
text-align: center;
}

img {
    height: 20rem;
    width: auto;
}

.title {
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.h3 {
    font-weight: bold;
}

h1 {
    box-shadow: 5px 5px purple;
}
